<main class="container">
    <div class="control">
        <div class="btn" [class.active]="activeWindow === 'timer'">
            <mat-icon class="btn-icon">schedule</mat-icon>
            <span>Timer</span>
        </div>
        <div (click)="goHistory()" class="btn">
            <mat-icon class="btn-icon">receipt_long</mat-icon>
            <span>History</span>
        </div>
    </div>

    <form [formGroup]="form">
        <div class="input-section" [style.opacity]="timerState.isRunning ? 0 : 1">
            <label for="minutes">I will spend</label>
            <input id="minutes" type="number" formControlName="minutes" max="60">
            <span>minutes working on</span>
            <input type="text" formControlName="task">
        </div>

        <div class="timer">
            <div class="counter min">
                <p>{{ min }}</p>
            </div>
            <span>:</span>
            <div class="counter sec">
                <p>{{ sec }}</p>
            </div>
        </div>

        @if (timerState.isRunning) {
            <button (click)="stopTimer()"  class="interrupt">Interrupt</button>
        } @else {
            <button (click)="startTimer()" [disabled]="form.invalid">Start</button>
        }   
    </form>

    <a href="https://github.com/RodriguesGS/FocusTimer" target="_blank">Code in Github</a>
</main>