@use "../../../styles/variables" as *;

.container {
    background-color: #000000b3;
    min-width: 900px;
    min-height: 600px;
    padding: 60px 30px 40px 30px;
    border-radius: 10px; 

    .control {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        background-color: #464646;
        max-width: 213px;
        padding: 5px;
        border-radius: 10px;
        font-weight: 500;
        font-size: .9rem;

        .btn {
            display: flex;
            align-items: center;
            color: $main-gray;
            cursor: pointer;
            gap: 11px;
            min-width: 100px;
            padding: 4px;
            transition: .2s;

            &:hover {
                color: $white-color;
            }

            &.active {
                background: $black-color;
                color: $white-color;
                border-radius: 5px;
            }
        }
    }

    .input-section {
        display: flex;
        justify-content: center;
        margin-top: 64px;
        gap: 8px;
        font-size: 1.2rem;
        transition: .3s;

        input {
            background-color: transparent;
            border: 2px solid rgba(171, 171, 171, 0.3);
            border-radius: 5px;
            color: $white-color;
            padding: 3px 10px;
            transition: .2s;
            font-size: 1.2rem;

            &[type=number]{
                appearance: textfield;
                max-width: 50px;
                text-align: center;

                &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }

            &:focus {
                outline: none;
                border: 2px solid $white-color;
            }
        }
    }

    .timer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        margin-top: 60px;
        font-size: 3.2rem;
        font-weight: 500;

        .counter {
            border: 2px solid rgba(171, 171, 171, 0.3);
            border-radius: 8px;
            padding: 20px 30px;
            min-width: 140px;
            text-align: center;
            
            p {
                letter-spacing: 5px;
            }

            &.min::after {
                content: 'MIN';
                font-size: .8rem;
                display: block;
                color: $main-gray;
                margin-top: -10px;
            }

            &.sec::after {
                content: 'SEC';
                font-size: .8rem;
                display: block;
                color: $main-gray;
                margin-top: -10px;
            }
        }
    }

    button {
        background-color: $white-color;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 60px auto;
        border: none;
        width: 120px;
        border-radius: 10px;
        color: $black-color;
        height: 40px;
        padding: 20px;
        font-weight: 600;
        font-size: 1.1rem;
        transition: .3s;

        &:hover {
            background-color: #f0f0f0;
            color: $black-color;
        }

        &:disabled {
            background-color: $main-gray;
            cursor: not-allowed;
        }

        &.interrupt {
            background-color: #970e0e;
            color: $white-color;
            transition: .3s;

            &:hover {
                background-color: #be2626;
                color: $white-color;
            }
        }
    }

    a {
        width: fit-content;
        color: $white-color;
        text-decoration: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 5%;

        &::after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 30%; 
            height: 2px;
            background-color: $white-color;
            transition: 0.3s;
        }

        &:hover::after {
            width: 100%;
        }
    }
}
