<main class="container" role="main">
  @if (activeWindow === 'history') {
    <app-history
      (change)="changeWindow($event)"
      [history]="history"
      [activeWindow]="activeWindow"
      @fade
    />
  } @else {
    <app-timer
      [timerState]="timerState"
      (change)="changeWindow($event)"
      (startGlobalTimer)="startTimer($event)"
      (stopGlobalTimer)="stopTimer()"
      (addItem)="addItem($event)"
      (updateStatus)="updateStatus($event)"
      @fade
    />
    
    <div class="vertical-bar right" aria-hidden="true"></div>
    <div class="vertical-bar left" aria-hidden="true"></div> 
  }
</main>
