.container {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 900px;
    min-height: 600px;
    padding: 60px 30px 40px 30px;
    border-radius: 10px;
    position: relative; 

    .control {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        background-color: #464646;
        max-width: 213px;
        padding: 5px;
        border-radius: 10px;
        font-weight: 500;
        font-size: .9rem;

        .btn {
            display: flex;
            align-items: center;
            color: #ABABAB;
            cursor: pointer;
            gap: 11px;
            min-width: 100px;
            padding: 4px;
            transition: .2s;

            &:hover {
                color: #fff;
            }

            &.active {
                background: #000;
                color: #fff;
                border-radius: 5px;
            }
        }
    }

    table {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        width: 100%;
        border-collapse: collapse;

        thead {
            background-color: #000;
            width: 100%;
            font-size: 1rem;
            font-weight: 200;

            tr {
                display: grid;
                grid-template-columns: 2fr 1fr 1fr 1fr;
                border-right: 1px solid #fff;
                border-left: 1px solid #fff;
                padding: 10px;
                text-align: left;
            }
        }

        tbody {
            width: 100%;
            background-color: #000;
            font-size: .8rem;
            color: #ABABAB;

            tr {
                display: grid;
                grid-template-columns: 2fr 1fr 1fr 1fr;
                border-right: 1px solid #fff;
                border-left: 1px solid #fff;
                padding: 10px;
                text-align: left;
                margin-top: 5px;

                span {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    &.interrupted::before {
                        content: '';
                        background-color: #cf2424;
                        width: 10px;
                        border-radius: 50%;
                        height: 10px;
                    }

                    &.progress::before {
                        content: '';
                        display: block;
                        background-color: #cfcc24;
                        width: 10px;
                        border-radius: 50%;
                        height: 10px;
                    }

                    &.conclued::before {
                        content: '';
                        display: block;
                        background-color: #46cf24;
                        width: 10px;
                        border-radius: 50%;
                        height: 10px;
                    }
                }
            }
        }
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        margin: 0 auto;
        color: #fff;
        text-decoration: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
        bottom: 5%;

        &::after {
            content: "";
            display: block;
            width: 30%; 
            height: 2px;
            background-color: #fff;
            transition: 0.3s;
        }

        &:hover::after {
            width: 100%;
        }
    }

}
