@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as mixins;

.container {
    background-color: #000000b3;
    width: 100%;
    height: 100%;
    padding: 40px 16px;
    min-height: 100vh;

    .control {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
        background-color: #464646;
        padding: 10px 0;
        border-radius: 10px;
        font-weight: 500;
        font-size: .9rem;
        max-width: 350px;
        margin: 0 auto;

        .btn {
            display: flex;
            align-items: center;
            color: $main-gray;
            cursor: pointer;
            padding: 10px 40px;
            gap: 8px;
            border-radius: 10px;
            transition: .2s;

            &:hover { color: $white-color; }

            &.active {
                background: $black-color;
                color: $white-color;
                border-radius: 5px;
            }
        }
    }

    .table-wrapper {
        width: 100%;
        overflow-x: auto;
        margin-top: 100px;

        &::-webkit-scrollbar {
            width: 8px;
            height: 10px;
        }

        &::-webkit-scrollbar-track {
            background: #2d2d2d;
            border-radius: 10px;
        }
        
        &::-webkit-scrollbar-thumb {
            background: #626262;
            border-radius: 10px;

            &:hover { background-color: #000; }
        }

        table {
            min-width: 800px;
            width: 100%;
            border-collapse: collapse;

            thead {
                background-color: #000;
                font-size: .9rem;
                font-weight: 200;

                tr {
                    display: grid;
                    grid-template-columns: 3fr 1fr 2fr 1fr;
                    border-right: 2px solid $white-color;
                    border-left: 2px solid $white-color;
                    padding: 10px;
                    text-align: left;
                }
            }

            tbody {
                display: block;
                max-height: 250px;
                overflow-y: auto;
                width: 100%;
                background-color: #000;
                font-size: .8rem;
                color: $main-gray;

                &::-webkit-scrollbar {
                    width: 8px;
                    height: 10px;
                }

                &::-webkit-scrollbar-track {
                    background: #2d2d2d;
                    border-radius: 10px;
                }
                
                &::-webkit-scrollbar-thumb {
                    background: #626262;
                    border-radius: 10px;

                    &:hover { background-color: #000; }
                }

                tr {
                    display: grid;
                    grid-template-columns: 3fr 1fr 2fr 1fr;
                    border-right: 2px solid $white-color;
                    border-left: 2px solid $white-color;
                    padding: 10px;
                    text-align: left;
                    margin-top: 5px;
                    width: 100%;

                    span {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        &.interrupted::before {
                            content: '';
                            display: inline-block;
                            background-color: #cf2424;
                            width: 10px;
                            border-radius: 50%;
                            height: 10px;
                        }

                        &.progress::before {
                            content: '';
                            display: inline-block;
                            background-color: #cfcc24;
                            width: 10px;
                            border-radius: 50%;
                            height: 10px;
                        }

                        &.concluded::before {
                            content: '';
                            display: inline-block;
                            background-color: #46cf24;
                            width: 10px;
                            border-radius: 50%;
                            height: 10px;
                        }
                    }
                }
            }
        }
    }

    a {
        width: fit-content;
        color: $white-color;
        text-decoration: none;
        position: absolute;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);

        &::after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 40%; 
            height: 2px;
            background-color: $white-color;
            transition: 0.3s;
        }

        &:hover::after { width: 100%; }
    }

    @include mixins.respond-md {
        padding: 60px 40px;

        .control {
            display: flex;
            padding: 8px;
        }
    }

    @include mixins.respond-lg {
        min-width: 900px;
        min-height: 600px;
        border-radius: 10px; 

        .control {
            padding: 8px 0;
            max-width: 250px;
            font-size: 1rem;

            .btn {
                padding: 10px 20px;
                font-size: .8rem;
            }
        }

        .table-wrapper {
            margin-top: 60px;
        }
    }
}
