@use "styles/variables" as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: $font-main;
    color: $white-color;
    background-image: url('assets/images/bg.jpg');
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

img {
    display: block;
    width: 100%;
    height: auto;
}